* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
    background-image: url("../images/fondo_generador.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 14vh;
}

.header {
    background: linear-gradient(315deg, #1f1f1c 60%, #ff7d1e 40%);
    line-height: 40px;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2);
    height: 5vh;
    vertical-align: middle;
    padding-top: 1vh;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav {
    display: grid;
    grid-template-areas:
        '1 2 3 4';
    grid-template-rows: 4vh;
    grid-template-columns: 6.5vw;
    width: 30vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
}

li {
    color: #595959;
    font-family: 'bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.prin-li {
    display: inline;
}

a:link, a:visited, a:hover, a:active {
    color: #595959;
    text-decoration: none;
}

.nav-link {
    transition: 0.8s;

}

.prov-text {
    line-height: 0.9;
    text-align: center;
}

.nav-link:hover {
    color: #e8e8e8;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    width: fit-content;
    justify-content: center;
    margin-top: 1.4vh;
}

.dropdown-menu {
    display: none;
    margin: -2vh 0 0 -0.7vw;
    text-align: center;
    width: 6.5vw;
    z-index: -3;
    padding: 0;
    background: #ff7d1e;
}

.form-div {
    display: grid;
    grid-template-areas:
        'titulo'
        'msg'
        'form';
    grid-template-rows: 10vh 3vh 20vh;
    grid-template-columns: 50vw;
    margin: 6vh auto auto auto;
    height: 50vh;
    width: 50vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

h1 {
    font-family: 'bold', Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
}

.titulo {
    display: grid;
    grid-area: titulo;
    text-align: center;
}

.alert {
    height: 3vh;
    width: fit-content;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
}

.alert-error {
    background: #e41749;
}

.alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
}

.alert p {
    color: #fff;
    font-family: Arial, serif;
    margin-left: 10px;
}

.alert p a,
.alert p a:visited,
.alert p a:active {
    color: #fff;
}

.alert .open {
    margin-left: auto;
    margin-right: 5px;
}

.alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
}

#csv-form {
    display: grid;
    grid-area: form;
    justify-items: center;
}

label {
    font-size: 20px;
    font-family: 'bold', Arial, Helvetica, sans-serif;
}

input[type="file"] {
    font-family: 'bold', Arial, Helvetica, sans-serif;
    width: 22vw;
    border-radius: 5px;
    margin: auto;
    background-color: #eee;
    padding: 1em;
}

.submit {
    margin: 20px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}

.submit:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.submit:hover {
    color: #fff;
}

.submit:hover:after {
    top: 0;
    height: 100%;
}

.submit:active {
    top: 2px;
}