* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
    background-image: url("../images/fondo_generador.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 14vh;
    height: 100%;
    width: 100%;
}

#container {
    display: grid;
    grid-template-areas:
        'nav'
        'form'
        'footer';
    grid-template-rows: 20vh 64vh 16vh;
    grid-template-columns: 100%;
}

#nav {
    display: grid;
    grid-area: nav;
    grid-template-areas:
        'clientes proveedores';
    grid-template-columns: 41% 59%;
}

#clientes {
    display: grid;
    grid-area: clientes;
}

#proveedores {
    display: grid;
    grid-area: proveedores;
}

#form {
    display: grid;
    grid-area: form;
    margin-top: 2vh;
}

.header {
    background: linear-gradient(315deg, #1f1f1c 60%, #ff7d1e 40%);
    line-height: 40px;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2);
    height: 8vh;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav1 {
    display: grid;
    grid-template-areas:
        'tit1 1 2 3';
    grid-template-rows: 4vh;
    grid-template-columns: 6.5vw;
    width: 30vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.nav2 {
    display: grid;
    grid-template-areas:
        'tit2 4 5';
    grid-template-rows: 4vh;
    grid-template-columns: 12vw 6.5vw 6.5vw;
    width: 25vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

li {
    font-family: 'bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.tit1 {
    display: grid;
    grid-area: tit1;
    color: #595959;
}

.tit2 {
    display: grid;
    grid-area: tit2;
    color: #b6b5b5;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
    color: #b6b5b5;
}

#5 {
    grid-area: 5;
    color: #b6b5b5;
}

#4 a:link, #4 a:visited, #4 a:hover, #4 a:active {
    color: #ffffff;
    text-decoration: none;
}

#5 a:link, #5 a:visited, #5 a:hover, #5 a:active {
    color: #ffffff;
    text-decoration: none;
}

.nav-link1:link, .nav-link1:visited, .nav-link1:active {
    color: #595959;
    text-decoration: none;
}

.nav-link1:hover {
    color: #e1e1e1;
    cursor: pointer;
}

.nav-link2:link, .nav-link2:visited, .nav-link2:active {
    color: #b6b5b5;
    text-decoration: none;
}

.nav-link2:hover {
    color: #ffffff;
    cursor: pointer;
}

.prin-li {
    display: inline;
}

.nav-link1 {
    transition: 0.8s;

}

.nav-link2 {
    transition: 0.8s;

}

.form-div {
    display: grid;
    grid-template-areas:
        'titulo'
        'msg'
        'form';
    grid-template-rows: 10vh 3vh 15vh;
    grid-template-columns: 50vw;
    margin: auto;
    height: fit-content;
    width: 50vw;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.neato-header {
    display: grid;
    grid-area: titulo;
    text-align: center;
    margin: 0;
    color: black;
    min-width: 50%;
}

.neato-header h1 {
    font-family: 'bold', Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
}

.alert {
    height: 3vh;
    width: fit-content;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
}

.alert-error {
    background: #e41749;
}

.alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
}

.alert p {
    color: #fff;
    font-family: Arial, serif;
    margin-left: 10px;
}

.alert p a,
.alert p a:visited,
.alert p a:active {
    color: #fff;
}

.alert .open {
    margin-left: auto;
    margin-right: 5px;
}

.alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
}

#csv-form {
    display: grid;
    grid-area: form;
    justify-items: center;
}

label {
    font-size: 20px;
    font-family: 'bold', Arial, Helvetica, sans-serif;
}

input[type="file"] {
    font-family: 'bold', Arial, Helvetica, sans-serif;
    width: 22vw;
    border-radius: 5px;
    margin: auto;
    background-color: #eee;
    padding: 1em;
}

.submit {
    margin: 20px;
    width: fit-content;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}

.submit:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001;
    transition: all 0.3s ease;
}

.submit:hover {
    color: #fff;
}

.submit:hover:after {
    top: 0;
    height: 100%;
}

.submit:active {
    top: 2px;
}

/* Footer */
.site-footer {
    display: grid;
    grid-area: footer;
    background-color: #26272b;
    padding: 2vh 2vh 0 2vh;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    height: 14vh;
}

.bottom-container {
    height: fit-content;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 2px 0 10px 0;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.text-justify {
    display: inline;
}

.docs {
    color: #ff5e14;
    display: inline;
}

.bottom-row {
    display: grid;
    grid-template-areas:
        'copyright social_media';
    grid-template-columns: 50%;
}

#copyright {
    display: grid;
    grid-area: copyright;
}

#copyright p {
    display: inline
}

#social-media {
    display: grid;
    grid-area: social_media;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    display: inline;
    margin: 0
}

.author {
    display: inline;
    color: #ff5e14;
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}

.dialog-ovelay .dialog {
    width: 400px;
    margin: 15vw auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 3px;
    overflow: hidden
}

.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}

.dialog-ovelay .dialog header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}

.dialog-ovelay .dialog header .fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px
}

.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9
}

.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}

.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px
}

.dialog-ovelay .dialog .dialog-msg p {
    margin: 0;
    font-size: 15px;
    color: #333
}

.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}

.dialog-ovelay .dialog footer .controls {
    direction: rtl
}

.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px
}

.button {
    cursor: pointer
}

.button-default {
    background-color: #1f1f1c;
    border: 1px solid #1f1f1c;
    color: #d7d7d7;
}

.button-danger {
    background-color: #ff7d1e;
    border: 1px solid #ff7d1e;
    color: #f5f5f5
}